@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.wrapper {
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

p,
span,
li {
  font-size: 14px;
  color: #212121;
  line-height: 120%;
}

.link {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #f2970e;
  line-height: 120%;
}

.list_content,
.inner_list_wrapper {
  margin: 0;
  padding: 0;
  list-style-type: decimal;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-position: inside;
}

.inner_list_wrapper {
  padding-top: 16px;
  list-style-type: lower-alpha;
}

.inner_list,
.inner_list_content {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 32px;
  padding-top: 16px;
}

.inner_list_content {
  padding-top: 4px;
}
